body
{
	position: relative;
	width: 1280px;
	height: 720px;
}

.caption{
	position: absolute;
	width: 163px;
	height: 22px;
	left: 42px;
	top: 130px;

	/* P Sbold */

	font-family: Open Sans;
	font-style: normal;
	font-weight: 600;
	font-size: 16px;
	line-height: 22px;
	/* identical to box height */

	display: flex;
	align-items: center;

	/* Main80 */

	color: #737373;
}

.logo
{
	/* 360 logo */
	
	position: absolute;
	width: 100px;
	height: 82.81px;
	left: 42px;
	top: 32px;
}

.button
{
	/* Button / Primary flex icon left ← */
	/* Auto Layout */
	
	display: flex;
	flex-direction: row;
	padding: 8px 32px;

	position: absolute;
	width: 206px;
	height: 48px;
	left: 544px;
	top: calc(50% + 380px/2);

	/* Primary */

	background: #0FB6F0;
	border-radius: 24px;

	/* Button text */

	font-family: Open Sans;
	font-style: normal;
	font-weight: 600;
	font-size: 16px;
	line-height: 22px;
	/* identical to box height */
	letter-spacing: 0.04em;
	text-transform: uppercase;
	text-align: center;
	/* Main 0 */

	color: #FFFFFF;

	/* Inside Auto Layout */
	margin: 8px 0px;
}

.inputBox
{
	/* solo-search / Normal */

	position: absolute;
	width: 320px;
	height: 48px;
	left: calc(50% - 320px/2);
	top: 246px;
}

.upperInputBox
{
	/* solo-search / Normal */

	position: absolute;
	width: 320px;
	height: 48px;
	left: calc(50% - 320px/2);
	top: calc(50% - 380px/2 - 2*48px);
}

.image
{
	position: absolute;
	width: 541px;
	height: 380px;
	left: calc(50% - 541px/2);
	top: calc(50% - 380px/2);

	#background: url(.jpg), #C4C4C4;
	border-radius: 4px;
}